<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset ="utf-8"/>
		<title>layout
	</title>
		<link href="css/styles.css" type="text/css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	</head>
	<body
		<div id="page">
		<h1 id="top">The Wheel</h1>
		<p class ="credits"><a href="http://en.wikipedia.org/wiki/The_wheel">As told by Wikipedia, the free encyclopedia.</a></p>
		<div id="navigation">
				<ul>
			<li><a href="#etymology">Etymology</a></li>
			<li><a href="#history">History</a></li>
		</ul>
		</div>
		
	<div id="column1of3">
		<h1>How It all got Started</h1>

		<p>Evidence of wheeled vehicles appears from the mid-4th millennium BC, 
		near-simultaneously in Mesopotamia (Sumerian civilization), Indus Valley 
		(Mohenjodaro),
		the Northern Caucasus (Maykop culture) and Central Europe, so that the 
		question of which culture originally invented the wheeled vehicle remains 
		unresolved and under debate. The Ljubljana Marshes Wooden Wheel, the world's 
		oldest known wooden wheel, dating from 5,250 ± 100 BP as part of Globular 
		Amphora Culture, was discovered by Slovenian archeologists in 2002.</p>
 
		<p>The earliest well-dated depiction of a wheeled vehicle (here a wagon—four 
		wheels, two axles) is on the Bronocice pot, a c. 3500 – 3350 BC clay pot excavated
		in a Funnelbeaker culture settlement in southern Poland.</p>
 		</div>
 			<div id="column2of3">
 				<h1> Timeline </h1>
 					<p id="timeline">
				9500–6500 BC: Aceramic Neolithic<br/>
				6500–4500 BC: Ceramic Neolithic (Halafian), earliest wooden wheels (disks with a hole for the axle)<br/>
				c. 4500 BC: invention of the potter's wheel, beginning of the Chalcolithic (Ubaid period)<br/>
				4500–3300 BC: Chalcolithic, earliest wheeled vehicles, domestication of the horse<br/>
				3300–2200 BC: Early Bronze Age<br/>
				2200–1550 BC: Middle Bronze Age, invention of the spoked wheel and the chariot<br/>
					</p>
			</div>
			<div id="column3of3">
			<h2> More Info On The Wheel</h2>
		<p>Wide usage of the wheel was probably delayed because smooth roads were needed for wheels to be effective. Carrying goods on the back would have been the preferred 
			method of transportation over surfaces that contained many obstacles. The lack of developed roads prevented wide usage of the wheel for transportation until well into
 			the 20th century in less developed areas.</p>
 
		<p>Early wheels were simple wooden disks with a hole for the axle. Because of the structure of wood, a horizontal slice of a tree trunk is not suitable, as it does not 
			have the structural strength to support relevant stresses without failing; rounded pieces of longitudinal boards are required.</p>
		<p>The spoked wheel was invented more recently, and allowed the construction of lighter and swifter vehicles. In the Harappan civilization of the Indus Valley and 
			Northwestern India, we find toy-cart wheels made of clay with lines which have been interpreted as spokes painted or in relief, and a symbol interpreted 
			as a spoked wheel in the script of the seals, already in the second half of the 3rd millennium BC. The earliest known examples of wooden spoked wheels 
			are in the context of the Andronovo culture, dating to c. 2000 BC. Soon after this, horse cultures of the Caucasus region used horse-drawn spoked-wheel 
			war chariots for the greater part of three centuries. They moved deep into the Greek peninsula where they joined with the existing Mediterranean peoples
			 to give rise, eventually, to classical Greece after the breaking of Minoan dominance and consolidations led by pre-classical Sparta and Athens. Celtic 
			 chariots introduced an iron rim around the wheel in the 1st millennium BC. The spoked wheel was in continued use without major modification until the 
			 1870s, when wire wheels and pneumatic tires were invented.</p>
		</div>
			<h3 class="clear"><a href="#top">Top of the page</a></h3>
		</div>
			
	</body>
</html>